<%= turbo_frame_tag "spots" do %>
  <%= render spots %>
  <div class="apple_pagination">
    <%= will_paginate spots, inner_window: 1, outer_window: 1, previous_label: 'Précédent', next_label: 'Suivant' %>
  </div>
<% end %>
