<!-- app/views/specificities/edit.html.erb -->
<h1>Edit Specificity for <%= @spot.name %></h1>
<div id="specificity-details" data-controller="specificity">
  <%= render 'form', spot: @spot, specificity: @specificity %>
</div>
