.title{
  text-shadow: 1px 1px 3px black;
  color: white;
}
.subtitle{
  color: white;
}

.content-container {
  position: relative;
  z-index: 1;
  padding-top: 50px; /* Ajoutez du padding pour éviter que le contenu ne soit caché sous la navbar */
}

.content {
  padding: 20px;
}
