<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1717678739/BEERTRACKR_1080_x_1080_px_dv6sp9.png", class: 'img-fluid footer-logo', alt: 'logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <a href='https://docs.google.com/forms/d/e/1FAIpQLSfq5-0O5hDNobYufaFYwLa6i68KIb0WPG7GkJxnKzVAd6YDZg/viewform?usp=sf_link' target='_blank'><p>Ajouter un spot</p></a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScePya6MrSdgvuDWmJcsVk5wunO1rssEkXLP6c_9F5CgIcZoA/viewform?usp=sf_link" target='_blank'><p>Publier une actualité</p></a>
          <%= link_to new_user_registration_path do %>
            <p>Créer un compte</p>
          <% end %>
          <a href='https://docs.google.com/forms/d/e/1FAIpQLSfTl9AxzLrv9_mCpigKNtlDDEQZnk0dWYFWP4mW6cN9pJkqBA/viewform?usp=sf_link' target='_blank'><p>Devenir cowboy</p></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <a href='mailto:modernboxrecords@gmail.com' target='_blank'><p>Signaler un bug</p></a>
          <%= link_to politics_path do %>
            <p>Mentions légales</p>
          <% end %>
          <%= link_to datas_path do %>
            <p>Politique de confidentialité</p>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mx-auto">
        <div class="item">
          <p>Philippe Chambon</p>
          <a href='mailto:modernboxrecords@gmail.com' target='_blank'><p>Envoyer un message</p></a>
          <p>BEERTRACKR 2024 <i class="far fa-copyright"></i></p>
          <p> <a href="#"><i class="fab fa-instagram footer-link"></i></a>
            <a href="#"><i class="fab fa-youtube footer-link"></i></a>
            <a href="#"><i class="fab fa-linkedin footer-link"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
