<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1717678739/BEERTRACKR_1080_x_1080_px_dv6sp9.png", class: 'img-fluid footer-logo', alt: 'logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <p>Ajouter un spot</p>
          <p>Publier une actu</p>
          <p>Devenir un cowboy</p>
          <p>Mersh</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <p>Mentions légales</p>
          <p>Conditions générales d'utilisation</p>
          <p>Politique de confidentialité</p>
          <p>Partenaires</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mx-auto">
        <div class="item">
          <p>Philippe Chambon</p>
          <p>Envoyer un message</p>
          <p>BEERTRACKR 2024 <i class="far fa-copyright"></i></p>
          <p> <a href="#"><i class="fab fa-instagram footer-link"></i></a>
            <a href="#"><i class="fab fa-youtube footer-link"></i></a>
            <a href="#"><i class="fab fa-linkedin footer-link"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
