<%= turbo_frame_tag "beers" do %>
  <%= render beers %>
  <div class="apple_pagination">
    <%= will_paginate beers, inner_window: 1, outer_window: 1, previous_label: 'Précédent', next_label: 'Suivant' %>
  </div>
<% end %>
