.line{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 26px;
  margin-bottom: 5px;
  padding: 2px;
  p{
    color: black;
    margin: 0px;
  }
  .fa-solid{
    color: black;
  }
}

.line:hover{
  background-color: white;
  p{
  color: black;
  }
  .fa-solid{
    color: black;
  }
}

.thumbnail{
  border-radius: 25px;
}
