.background-image{
  height: 900px;
  background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1716549213/homepage_lzjwak.jpg');
  background-size: cover;
  background-position: center; /* Cette propriété centre l'image */
  background-repeat: no-repeat; /* Cette propriété empêche l'image de se répéter */
  margin: 0;
  padding: 0;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-beers {
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Beers_zb6ub5.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.background-spots {
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Spots_zllueh.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.background-styles {
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/Styles_sepptk.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.background-moods {
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/da2krghvd/image/upload/v1716554277/beertrackr_yzeqwv.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
